<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Flora Store"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationFlower"
        tools:targetApi="31">
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".VisaPayment"
            android:exported="false" />
        <activity
            android:name=".CashPayment"
            android:exported="false" />
        <activity
            android:name=".PaymentMethodActivity"
            android:exported="false"
            android:label="@string/title_activity_payment_method"
            android:theme="@style/Theme.MyApplicationFlower" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MyApplicationFlower">

        </activity>

        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:label="@string/title_activity_cart"
            android:theme="@style/Theme.MyApplicationFlower" />
        <activity
            android:name=".jerbsActivity"
            android:exported="false" />
        <activity
            android:name=".boxActivity"
            android:exported="false" />
        <activity
            android:name=".vaseActivity"
            android:exported="false" />
        <activity
            android:name=".handActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

    </application>

</manifest>